


:root  {
    --color-first-box: #4c2700;
    --color-second-box: #6e9201;
    --color-third-box: #28a801;
    --color-four-box: #02bb7d;
    --color-five-box: #a600d0;

}



.body{
    margin: 0px;
}

.container{
    display: flex;
    width: 500px;
    /*flex-direction: column;*/
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.container section{
    min-width: 150px;
    min-height: 150px;
}

.caja1{
    background-color: var(--color-first-box);
}

.caja2{
    background-color: var(--color-second-box);
}

.caja3{
    background-color: var(--color-third-box);
}

.caja4{
    background-color: var(--color-four-box);
}

.caja5{
    background-color: var(--color-five-box);
}

.caja1, .caja2, .caja3, .caja4, .caja5 {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .caja2, .caja3, .caja4, .caja5 {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) {
    .caja1{
        width: 40%;
    }
    .caja2{
        width: 60%;
    }
    .caja3, .caja4, .caja5 {
        width: 33.33%;
    }
}